.menu {
    height: 50px;
    background-color: gray;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    .container ul {
        margin-right: auto;
        height: inherit;
        list-style-type: none;
        display: flex;
        padding: 0;
    }

    a:first-of-type {
        margin-left: 0px;
    }
    .container {
        display: flex;
    }
}