.container {
    width: 80%;
    margin: 0 auto;
}

.image-logo {
    background-image: url('../Attachments/logos-png-8.png');
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    //border: 1px red solid;
}